



/* Estilos de margen body los titulos, subs y parrafos */

@font-face {
  font-family: "Barlow Bold";
  src: url("fonts/BarlowCondensed-Bold.ttf");
}

@font-face {
  font-family: "Barlow Regular";
  src: url("fonts/BarlowCondensed-Regular.ttf");
}

@font-face {
  font-family: "Barlow Medium";
  src: url("fonts/BarlowCondensed-Medium.ttf");
}

@font-face {
  font-family: "Barlow SemiBold";
  src: url("fonts/BarlowCondensed-SemiBold.ttf");
}

body {
  background: white;
  cursor: none;
}

*:hover {
  cursor: none;
}

section {
  background: white;
  z-index: -100;
}

h1 {
  font-family: 'Barlow Bold', sans-serif;
}

h2 {
  font-family: 'Barlow Regular', sans-serif;
}

h3 {
  font-family: 'Barlow Medium', sans-serif;
}

p {
  font-family: 'Barlow Regular', sans-serif;
}

strong {
  font-family: 'Barlow Bold', sans-serif;
}

.separador {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 4px;
  background: #d9d9d9;
}

*::selection {
  background:#27d100;
  color: white;
  text-shadow: 1px 1px #000000;
}

/* Estilos del Menu principal */

.menu-principal {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  background-color: white;
}

.menu-principal-container {
  position: relative;
  width: auto;
  height: 100%;
  margin: 35px 90px;
  display: flex;
  flex-direction: row;
  
}

.menu-principal-logo {
  display: flex;
  align-self: center;
}

.menu-principal-botones {
  position: absolute;
  right: 0;
  display: flex;
  align-self: center;
}


.vigu-logo {
  width: 100px;
}

.vigu-logo.scroll {
  width: 50px;
}

.menu-principal-botones > ul {
  display: flex;
  flex-direction: row;
}

.menu-principal-botones > ul > li {
  display: flex;
  align-self: center;
  margin-left: 25px;
  position: relative;
}

.boton-menu-principal {
  font-family: 'Barlow Medium', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  letter-spacing: 0;
  transition: color 1s, letter-spacing 0.5s;
}

.boton-menu-principal:hover {
  letter-spacing: 0.12em;
  color: #ffffff;
  transition: color 0.25s, letter-spacing 0.5s;
}



.boton-menu-principal > div {
  display: flex;
  align-self: center;
  text-decoration: none;
  padding: 6px;
  overflow: hidden;
  border-radius: 12px;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  position: relative;
}

#contactanos > div {
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  transition: border-color 0.5s;
}

#contactanos > div:hover {
  border-color: #27d100;
  transition: border-color 0.5s;
}

#instagram > div {
  width: 20px;
  height: 20px;
  border-style: solid;
  border-width: 2px;
  border-radius: 16px;
  border-color: #000000;
  background: #000000;
  transition: all 0.5s;
}

#instagram > div:hover {
  border-color: #27d100;
  background: #27d100;
  transition: all 0.5s;
}

.barra {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  visibility: hidden;
  background: #27d100;
  transition: all 0.5s;
  z-index: -1;
  border-style: solid;
  border-width: 2px;
  border-color:#27d100;
}

.barra.on {
  visibility: visible;
  width: 100%;
}



.cursor {
  z-index: 1000;
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  transition: 0.1s;
  transform: translate(-50%,-50%);
  pointer-events: none;
  mix-blend-mode: difference;
}

.cursor.cursor-hover {
  transform: scale(4);
}


/* Estilos de la introducción */

.introduccion {
  width: auto;
  margin: 150px 160px 0 160px;
}

.introduccion-container {
  width: auto;
}

.titulo-introduccion h1 {
  font-size: 80px;
  letter-spacing: 0.15em;
  opacity: 0;
  transform: translateX(-10%);
  transition: all 0.5s ease-in-out;
}

section.active > div > div > div.titulo-introduccion > h1 {
  transform: translateX(0);
  opacity: 1;
  transition: all 1s ease-in-out 0.5s; 
}


.titulo-introduccion h1 span {
  font-size: 110px;
  letter-spacing: 0;
  position: relative;
  transition: all 0.5s ease-in-out; 
}


section.active > div > div > div.titulo-introduccion > h1 > span {
  font-size: 80px;
  letter-spacing: 0.12em;
  transition: all 1s ease-in-out 2.5s; 
}

.titulo-introduccion h1 span:before {
  position: absolute;
  background: white;
  z-index: -1;
  content: '';
  height: 0%;
  width: 0%;
  opacity: 0;
  top: 20%;
  right: 0;
  border: dashed 4px #27d100;
}

section.active > div > div > div.titulo-introduccion h1 span:before {
  animation: selectVerde 2.5s ease-in-out 1.5s;
  animation-fill-mode: forwards;
}

.titulo-introduccion h2 {
  font-size: 80px;
  letter-spacing: 0.15em;
  opacity: 0;
  transform: translateX(10%);
  transition: all 0.5s ease-in-out; 
}

section.active > div > div > div.titulo-introduccion > h2 {
  transform: translateX(0);
  opacity: 1;
  transition: all 1s ease-in-out 0.5s; 
}


.titulo-introduccion h2 span {
  font-size: 50px;
  letter-spacing: 0;
  position: relative;
  transition: all 0.5s ease-in-out; 
}

section.active > div > div > div.titulo-introduccion > h2 > span {
  transition: all  1s ease-in-out 4.5s;
  font-size: 80px;
  letter-spacing: 0.12em;
}

.titulo-introduccion h2 span:before {
  position: absolute;
  background: white;
  z-index: -1;
  content: '';
  height: 0%;
  width: 0%;
  opacity: 0;
  bottom: 0;
  left: 0;
  border: dashed 4px #27d100;
}

section.active > div > div > div.titulo-introduccion h2 span:before {
  animation: selectVerde 2.5s ease-in-out 3.5s; 
  animation-fill-mode: forwards;
}

.descripcion-introduccion p {
  margin-top: 80px;
  margin-bottom: 150px;
  text-align: right;
  right: 0;
  font-size: 24px;
  margin-left: 190px;
  letter-spacing: 0.12em;
  line-height: 1.22em;
  opacity: 0;
  transform: translateY(50%);
  transition: all 0.5s ease-in-out;
}

section.active > div > div > div.descripcion-introduccion > p {
  transition: all 1s ease-in-out 1s;
  transform: translateY(0);
  opacity: 1;
}

    /* Animaciones de la introducción */


    @keyframes selectVerde {
      0% {
        height: 0%;
        width: 0%;
        opacity: 0;
      }
      20% {
        height: 80%;
        width: 100%;
        opacity: 1;
      }
      80% {
        height: 80%;
        width: 100%;
        opacity: 1;
      }
      100% {
        height: 80%;
        width: 100%;
        opacity: 0;
      }
    }
    


/* Estilos de la servicios y cautiva */

.servicios-atrae {
  width: auto;
  height: auto;
  margin: 150px 160px 0 160px;
}

.servicios-atrae-container {
  width: auto;
  display: flex;
  flex-direction: row;
}

.servicios {
  width: 455px;
  align-self: center;
}

.servicios h1 {
  font-size: 44px;
  letter-spacing: 0.12em;
  line-height: 1.22em;
  opacity: 0;
  transform: translateX(-10%);
  transition: all 0.5s ease-in-out 0.5s; 
}

section.active > div > div > div.servicios h1 {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.7s ease-in-out 0.5s; 
}

.servicios h2 {
  font-size: 44px;
  letter-spacing: 0.12em;
  line-height: 1.22em;
  opacity: 0;
  transform: translateX(-10%);
  transition: all 0.5s ease-in-out 0.5s; 
}

section.active > div > div > div > div.servicios-branding > h2 {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.7s ease-in-out 0.7s; 
}

section.active > div > div > div > div.servicios-desarrollo > h2 {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.7s ease-in-out 0.9s; 
}

.servicios p {
  font-size: 26.5px;
  letter-spacing: 0.12em;
  line-height: 1.22em;
  position: relative;
  display: inline;
  background: #ffffff;
}

#recibe .on {
  color: #27d100;
}

.servicios p span {
  position: absolute;
  right: 0;
  width: 100%;
  background: #ffffff;
  border-left: 1px solid #ffffff;
  visibility: visible;
}

section.active > div > div > div > div > div.branding1 p:nth-child(1) span {
  animation: escribe 0.4s linear;
  animation-fill-mode: forwards;
  animation-timing-function: steps(6);
  animation-delay: 2.1s;
}

section.active > div > div > div > div > div.branding1 p:nth-child(2) span {
  animation: escribe 0.53s linear;
  animation-fill-mode: forwards;
  animation-timing-function: steps(8);
  animation-delay: 3s;
}

section.active > div > div > div > div > div.branding1 p:nth-child(3) span {
  animation: escribe 1.53s linear;
  animation-fill-mode: forwards;
  animation-timing-function: steps(23);
  animation-delay: 4.03s;
}

section.active > div > div > div > div > div.branding2 p:nth-child(1) span {
  animation: escribe 1.73s linear;
  animation-fill-mode: forwards;
  animation-timing-function: steps(26);
  animation-delay: 6.06s;
}

section.active > div > div > div > div > div.branding3 p:nth-child(1) span {
  animation: escribe 0.86s linear;
  animation-fill-mode: forwards;
  animation-timing-function: steps(13);
  animation-delay: 8.29s;
}

section.active > div > div > div > div > div.branding3 p:nth-child(2) {
  margin-left: -1px;
}

section.active > div > div > div > div > div.branding3 p:nth-child(2) span {
  animation: escribe 0.53s linear;
  animation-fill-mode: forwards;
  animation-timing-function: steps(8);
  animation-delay: 9.65s;
}

section.active > div > div > div > div > div.branding3 p:nth-child(3) {
  margin-left: -1px;
}


section.active > div > div > div > div > div.branding3 p:nth-child(3) span {
  animation: escribe 1s linear;
  animation-fill-mode: forwards;
  animation-timing-function: steps(15);
  animation-delay: 10.68s;
}

section.active > div > div > div > div > div.servicios1 p:nth-child(1) span {
  animation: escribe 0.6s linear;
  animation-fill-mode: forwards;
  animation-timing-function: steps(9);
  animation-delay: 12.18s;
}

section.active > div > div > div > div > div.servicios1 p:nth-child(2) {
  margin-left: -1px;
}

section.active > div > div > div > div > div.servicios1 p:nth-child(2) span {
  animation: escribe 0.73s linear;
  animation-fill-mode: forwards;
  animation-timing-function: steps(11);
  animation-delay: 13.28s;
}

.servicios-branding {
  margin-top: 15px;
}

.servicios-desarrollo {
  margin-top: 15px;
}

.corchete-svg {
  width: auto;
  height: 450px;
  margin: 0 55px 0 15px;
  opacity: 0;
  transform: translateX(-25%);
  transition: all 0.5s ease-in-out;
}

section.active > div > div > div > .corchete-svg {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s ease-in-out 1.2s;
}



.atrae {
  align-self: center;
}

.atrae-container {
  width: 416px;
  height: 324px;
}

.atrae-texto > div > h1 {
  font-size: 108px;
  letter-spacing: 0.12em;
  font-family: 'Barlow Bold', sans-serif; 
  color: transparent;
  transition: all 0.5s ease-in-out;
  position: relative;
  display: table;
}

.atrae1 {
  opacity: 0;
  transform: translateY(-20%);
  transition: all 0.5s ease-in-out;
}

section.active > div > div > div > div > div > div.atrae1 {
  opacity: 1;
  transform: translateY(0);
  transition: all 1s ease-in-out 1.2s;
}

.atrae-texto > div.atrae1 > h1:before {
  position: absolute;
  z-index: -1;
  left: 0;
  content: 'ATRAE';
  font-size: 108px;
  letter-spacing: 0.12em;
  font-family: 'Barlow Bold', sans-serif; 
  color: #000000;
}


.atrae2 {
  opacity: 0;
  transform: translateX(10%);
  transition: all 0.5s ease-in-out;
}

section.active > div > div > div > div > div > div.atrae2 {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s ease-in-out 1.2s;
}

.atrae-texto > div.atrae2 > h1:before {
  position: absolute;
  z-index: -1;
  left: 0;
  content: 'CAUTIVA';
  font-size: 108px;
  letter-spacing: 0.12em;
  font-family: 'Barlow Bold', sans-serif; 
  color: #000000;
}


.atrae3 {
  opacity: 0;
  transform: translateY(20%);
  transition: all 0.5s ease-in-out;
}

section.active > div > div > div > div > div > div.atrae3 {
  opacity: 1;
  transform: translateY(0);
  transition: all 1s ease-in-out 1.2s;
}

.atrae-texto > div.atrae3 > h1:before {
  position: absolute;
  z-index: -1;
  left: 0;
  content: 'CAPTA';
  font-size: 108px;
  letter-spacing: 0.12em;
  font-family: 'Barlow Bold', sans-serif; 
  color: #000000;
}

.atrae-texto h1:hover {
  color: transparent;
  background-image: url(img/vectoragua.svg);
  background-size: 150px;
  background-repeat: repeat-x;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-animation: animate 4s linear forwards;
  animation: animate 4s linear forwards;
  transition: all 0.5s ease-in-out;
}


@keyframes animate {
  0% {
    background-position: 0 110px;
  }
  100% {
    background-position: 1800px -65px;
  }
}


/* animacion de typewritte */

@keyframes escribe {
  0% {
    visibility: visible;
    width: 100%;
    border-left: 1px solid #000000;
  }
  99.99% {
    visibility: visible;
    width: 0%;
    border-left: 1px solid #000000;
  }
  100% {
    visibility: hidden;
    width: 0%;
    border-left: 1px solid #ffffff;
  }
}



/* Estilos del slime */


.slime {
  width: 100%;
  height: 100vh;
  padding-top: 80px;
}

.slime-container {
  display: flex;
  justify-content: center;
  width: auto;
  height: 100vh;
  background-image: url(img/slime.png);
  background-size: cover;
}

.slime-container h3 {
  font-size: 44px;
  text-align: center;
  align-self: center;
  letter-spacing: 0.12em;
}

/* Estilos de la esfera negra */

.esfera {
  margin: 131px 160px 0 160px;
  width: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

.esfera-container {
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 430px;
  height: 430px;
  background: #000000;
  border-radius: 50%;
}

.esfera-container h1, .esfera-container h2 {
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.12em;
  line-height: 1.22em;
}

.esfera-container h1 {
  font-size: 42px;
}

.esfera-container h2 {
  margin-top: 17px;
  font-size: 17px;
}

/* Estilos de Contactanos */

.contactanos {
  width: auto;
  margin: 131px 160px 0 160px;
}

.contactanos-container {
  width: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.contactanos h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 84px;
  letter-spacing: 0.12em;
}

.contactanos a {
  width: fit-content;
  align-self: center;
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0.12em;
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
}

.contactanos a:hover {
  letter-spacing: 0.20em;
}

.cuadros-container {
  width: auto;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}

.cuadro-instagram {
  justify-self: center;
  width: 200px;
  height: 200px;
  transform: scale(0.9);
  overflow: hidden;
  transition: 0.4s ease-in-out;
}

.cuadro-instagram:hover {
  transform: scale(1);
}


.embed-container iframe, .embed-container object, .embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; }

#instagram-embed-0, #instagram-embed-1, #instagram-embed-2 {
  margin-top: -27% !important;
  min-width: unset !important;
}


/* Estilos del pie de pagina */

footer {
  width: 100%;
  height: 100%;
}


.pie-de-pagina-container {
  width: auto;
  height: 100%;
  margin: 30px 160px 0 160px;
  position: relative;
}

.pie-de-pagina-container h3 {
  position: absolute;
  right: 0;
  font-size: 30px;
  letter-spacing: 0.12em
}

.pie-de-pagina-container h1 {
  position: absolute;
  left: 0;
  font-size: 26px;
  letter-spacing: 0.12em;
}



/* Estilos de los section */

.main section {
  overflow: hidden;
}

@media (min-width: 1367px) {
 
  
  .main section:first-child:not(.slime) {
    
    width: 1366px;
    height: 100vh;
    margin: auto;
  }

  .main section > div:not(.slime) {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .main section > div > div:not(.slime-container) {
    align-self: center;
  }
  
}


@media (min-height: 868px) {
  .esfera-container {
    transform: scale(1.6);
  }

  .servicios-atrae-container {
    transform: scale(1.2);
  }
  
  .introduccion-container {
    transform: scale(1.2);
  }

  .slime-container > h3{
    transform: scale(1.2);
  }

  .contactanos-container {
    transform: scale(1.2);
    width: 1200px;
  }

  .cuadros-container {
    margin-top: 60px;
  }

  .contactanos a {
    margin-bottom: 60px;
  }

  .contactanos h1 {
    margin-bottom: 40px;
  }

  .cuadro-instagram {
    width: 260px;
    height: 260px;
  }
}